{
  "Scale": 3,
  "ShowFps": false,
  "Keyboard": {
    "A": 88,
    "B": 90,
    "TurboA": 67,
    "TurboB": 86,
    "Select": 344,
    "Start": 257,
    "Up": 265,
    "Down": 264,
    "Left": 263,
    "Right": 262
  },
  "XInput": {
    "A": 7,
    "B": 8,
    "TurboA": 6,
    "TurboB": 5,
    "Select": 13,
    "Start": 15
  },
  "PSInput": {
    "A": 7,
    "B": 8,
    "TurboA": 6,
    "TurboB": 5,
    "Select": 13,
    "Start": 15
  },
  "AnalogDeadzone": 0.7,
  "TurboSpeed": 3,
  "Rom": {
    "RomName": "Tank1990",
    "WindowTitle": "Tank 1990",
    "CheatEnabled": false,
    "CheatAddress1": 0,
    "CheatAddress2": 0,
    "CheatValue": 0,
    "CheatDelayFrames": 180
  },
  "State": null
}